{% extends 'base.html' %}

{% block content %}

<h1 class="about">About Fish <span id="just">Collectorpedia</span></h1>
<p class="description"> This app is all about providing you with a better and more personalized fish-keeping experience. With the current version of the app, you'll have access to a hand-picked collection of fish straight from the developer's tank. However, the app is still in development, and the next phase of development will focus on empowering you as a user to create your own personalized list of fish. This will allow you to tailor your aquarium to your specific tastes and preferences, resulting in a better overall experience. So stay tuned for this exciting new feature!
{% endblock %}