{% extends 'base.html' %}
{% block content %}
  <!-- New if/else block -->
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Fish</h1>
  {% endif %}
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ fish.name }}</span>
    <p>Breed: {{ fish.breed }}</p>
    <p>Color: {{ fish.color|linebreaks }}</p>
    <p>Age: {{ fish.age }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'fish_update' fish.id %}">Edit</a>
    <a href="{% url 'fish_delete' fish.id %}">Delete</a>
  </div>
</div>

{% endblock %}
